<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Signin</title>
<style>
.bg-img{
background-image: repeating-linear-gradient(99deg, rgb(255,255,255) 0px, rgb(255,255,255) 13px,transparent 13px, transparent 16px),repeating-linear-gradient(318deg, rgb(255,255,255) 0px, rgb(255,255,255) 13px,transparent 13px, transparent 16px),repeating-linear-gradient(219deg, rgb(255,255,255) 0px, rgb(255,255,255) 13px,transparent 13px, transparent 16px),repeating-linear-gradient(11deg, rgb(255,255,255) 0px, rgb(255,255,255) 13px,transparent 13px, transparent 16px),linear-gradient(90deg, rgb(97, 239, 161),rgb(157, 25, 177));
}
</style>
  </head>
  <body class="bg-img">
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <form action="/user/signin" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            placeholder="Enter your Email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Password</label>
          <input
          placeholder="Enter your Password"
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
